<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalculadoraFlaFla</title>
</head>
<body>
    <h1>Calculadora Flask</h1>
    <forms action="/processar" method="POST">
        <div class="label-numb">
            <label for="number">Numero:</label>
            <input type="number" name="n1" required>
            <br>
            <label for="number">Numero:</label>
            <input type="number" name="n2" required>
        </div>
        <div class="btn-operadores">
            <button type="submit" name="operacao" value="soma">Somar</button>
            <button type="submit" name="operacao" value="menos">Subtração</button>
            <br>
            <button type="submit" name="operacao" value="divisao">Divisão</button>
            <button type="submit" name="operacao" value="Vezes">Multiplicação</button>
        </div>
    </forms>
    {% if resultado is not none %}
        <h3> O resultado é : {{ resultado}}</h3>
    {%endif%}
</body>
</html>